apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.container.config.name }}
  namespace: {{ .Values.container.ns }}
data:
  config.json: |
    {
      "inbounds": [
        {
          "type": "{{ .values.service.ports.name1 }}",
          "tag": "{{ .values.config.in.tags.tag1 }}",
          "listen": "{{ .values.config.in.listen.address1 }}",
          "listen_port": {{ .values.config.in.ports.port1 }},
        },
        {
          "type": "{{ .values.service.ports.name2 }}",
          "tag": "{{ .values.config.in.tags.tag2 }}",
          "listen": "{{ .values.config.in.listen.address1 }}",
          "listen_port": {{ .values.config.in.ports.port2 }}
        },
      ]
    }, 
      "outbounds": [
        {
          "type": "{{ .values.config.out.type }}"
        }
      ],
        "log": {
        "disabled": {{ .values.config.out.log.disabled }},
        "level": "{{ .values.config.out.log.level }}",
        "output": "stdout",
        "timestamp": true
        }
    }  
  
