apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  config.json: |
    {
      "inbounds": {{ toJson .Values.inbounds }},
      "outbounds": {{ toJson .Values.outbounds }},
   
      "log": {{ toJson .Values.log }}
    }
