apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  config.json: |
    {
      "log": {
        "level": "info"
      },
      "inbounds": [
        {
          "type": {{ .Values.inbounds.type | quote }},
          "listen": {{ .Values.inbounds.listen | quote }},
          "listen_port": {{ .Values.inbounds.listen_port }}
        }
      ],
      "outbounds": [
        {
          "type": {{ .Values.outbounds.type | quote }}
        }
      ]
    }

